body {
  background-color: #FAF8F6;
  font-family: 'Montserrat', serif;
  color: #000000;
  font-size: 18px;
  margin: auto;
}

.links {
  stroke: #999;
  stroke-opacity: 0.6;
}

circles {
  stroke: rgb(181, 225, 37);
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  max-width: 300px;
  height: auto;
  padding: 1px;
  border-radius: 4px;
  border-width: 1px;
  pointer-events: none;
}

.table-responsive {
  max-height:400px;
  font-size: 11px;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  position: absolute;
  z-index: -1;
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

